@use "@appShared/scss" as *;

.header {
    box-sizing: border-box;
    background-color: $clr-primary;
    color: $clr-secondary;

    padding: 1rem 3rem 1.5rem;

    display: flex;

    height: 6rem;

    width: max(100vw, 100%);

    align-items: center;

    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.title {
    margin: 0;
    padding: 0;

    font-size: 2rem;
    font-weight: 700;
}

.main {
    width: 100vw;

    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
