@use "@appShared/scss" as *;

.main {
    box-sizing: border-box;

    padding-top: $height-header + 2rem;

    min-height: 100vh;

    width: 100vw;
    min-width: fit-content;

    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
