@use "@appShared/scss" as *;

.header {
    box-sizing: border-box;
    background-color: $clr-primary;
    color: $clr-secondary;

    padding: 1rem 3rem 1.5rem;

    display: flex;

    height: $height-header;

    width: max(100vw, 100%);

    align-items: center;

    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    justify-content: space-between;
}

.title {
    margin: 0;
    padding: 0;

    font-size: 2rem;
    font-weight: 700;
}

.main {
    box-sizing: border-box;

    padding-top: $height-header + 2rem;

    min-height: 100vh;

    width: 100vw;
    min-width: fit-content;

    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
