@use "@appShared/scss" as *;

.container {
    box-sizing: border-box;

    display: flex;

    border-radius: 4px;

    overflow: hidden;

    &:focus-within {
        outline: 2px solid $clr-secondary;
        outline-offset: 1px;
    }

    &:has(.input_error) {
        border: 2px solid $clr-danger;
    }
}

.input {
    box-sizing: border-box;
    outline: none;

    padding: 0.25rem;

    font-size: 1.25rem;
}

.button {
    border: none;
    outline: none;

    box-sizing: border-box;

    background-color: $clr-primary;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
