.container {
    box-sizing: border-box;

    padding-top: 6rem;

    min-height: 100vh;

    width: 100vw;
    min-width: fit-content;

    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
