.container {
    box-sizing: border-box;

    position: relative;

    box-sizing: border-box;

    background-color: gray;

    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.canvas {
    background-color: white;
}

.canvas_preview {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 2;
}
