@use "@appShared/scss" as *;

.link {
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 500;

    color: $clr-secondary;

    outline: none;

    position: relative;

    &::before {
        content: " ";
        color: inherit;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border-bottom: 2px solid currentColor;
        transition: width 250ms;
    }

    &:focus-visible {
        &::before {
            width: 100%;
        }
    }

    &:hover {
        color: darken($clr-secondary, 4);
    }

    &:active {
        color: darken($clr-secondary, 8);
    }
}
