@use "@appShared/scss" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;

    overflow: scroll;

    z-index: 5;

    &::-webkit-scrollbar {
        display: none;
    }
}
