@use "../../scss" as *;

.button {
    box-sizing: border-box;
    background-color: $clr-primary;
    color: $clr-secondary;
    border: none;
    padding: 0.25rem 0.375rem;
    border-radius: 4px;

    font-size: 1.25rem;

    cursor: pointer;

    transition:
        background-color 250ms,
        outline-color 250ms;

    &:focus-visible {
        outline: 2px solid $clr-primary;
        outline-offset: 1px;
    }

    &:hover {
        background-color: lighten($clr-primary, 8);

        &:focus-visible {
            outline-color: lighten($clr-primary, 8);
        }
    }

    &:disabled {
        cursor: default;

        &:hover,
        &:focus-visible {
            background-color: lighten(desaturate($clr-primary, 12), 8);
        }
    }
}
